<!DOCTYPE html>
<html>
  <head>
    <title>ADMIN | UPRI</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'upri.ico' %>
    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/partial/admin_navigation" %>
    <div class="notice">
      <%= notice %>
    </div>
    <div class="alert">
      <%= alert %>
    </div>
    <%= yield %>
  </body>
</html>
